root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
spelling_language = en-us
trim_trailing_whitespace = true
insert_final_newline = true
quote_style = single
max_line_length = 120

[*.lua]
continuation_indent = 4
call_arg_parentheses = keep
trailing_table_separator = smart

[**/intellisense.lua]
insert_final_newline = false
